@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@font-face {
  font-family: "Sometype";
  src: url("https://cdn.jsdelivr.net/gh/dharmatype/Sometype-Mono/fonts/ttf/SometypeMono-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #141617;
  --background-brighter: #1f2223;
  --background-brighter2: #2a2e30;

  --font: #dbd8d4;
  --font-hover: #b3aca2;
  --font-grey: #9c9b9a;

  --link: #934cdc;
  --link-hover: #af80e2;

  --hover: #1e2122;
  --border: #454b4e;

  --selection: #a760ee;

  --red: #ff6666;

  --monospaceFont: "Sometype";
  --sansFont: "Montserrat", sans-serif;
}

[theme="light"] {
  --background: #efefef;
  --background-brighter: #dfdfdf;

  --font: #1b1b1b;
  --font-hover: #2b2b2b;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  background-color: var(--background);
  color: var(--font);
  font-family: var(--sansFont);
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover);
  text-decoration: none;
}

input,
select,
button {
  padding: 10px 20px;
  margin: 8px 0;
  border: 2px solid var(--border);
  text-decoration: none;
  box-sizing: border-box;
  font-size: 12px;
  border-radius: 30px;
  background-color: var(--background);
  color: var(--font);
  margin: 5px;
  font-family: "Montserrat", sans-serif;
}

input:focus {
  outline: 0px;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover {
  background-color: var(--hover);
  cursor: pointer;
}

form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  -ms-user-select: None;
  -moz-user-select: None;
  -webkit-user-select: None;
}

/* sidebar top left */

.sidebar {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  margin: 1%;
  user-select: none;
  -ms-user-select: None;
  -moz-user-select: None;
  -webkit-user-select: None;
  transition: 200ms ease;
  z-index: 10;
}

.sidebar a {
  color: var(--font);
  margin-bottom: 8px;
}

.sidebar a:hover {
  color: var(--font-hover);
  margin-right: 5px;
}

/* Mobile Sidebar */
/* Needs javascript */

#mobile-sidebar {
  display: none;
  background-color: var(--background-brighter);
  position: fixed;
  top: 0;
  right: 0;
  user-select: none;
  -ms-user-select: None;
  -moz-user-select: None;
  -webkit-user-select: None;
  z-index: 10;
  font-size: 2rem;
}

.mobile-sidebar-button {
  border: none;
  border-radius: 0;
  background-color: var(--background-brighter);
  font-size: 1.5rem;
  margin: 0;
}

.mobile-sidebar-inner {
  text-align: right;
  /* redundant */
  display: none;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  background-color: var(--background-brighter2);
  padding: 15px;
  margin-top: -15px;
}

.mobile-sidebar-inner a {
  color: var(--font);
  margin-bottom: 8px;
}

.mobile-sidebar-inner a:hover {
  color: var(--font-hover);
}

@media screen and (orientation: portrait) {
  #sidebar {
    display: none;
  }

  #mobile-sidebar {
    display: inline-block;
  }
}

/* A box */

.box {
  background-color: var(--background-brighter);
  width: 24%;
  min-width: 300px;
  margin: 10px;
  padding: 10px 30px;
  padding-bottom: 30px;
  border-radius: 8px;
}

.box-content {
  position: relative;
}

.box h3 {
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 1.15rem;
  user-select: none;
  -ms-user-select: None;
  -moz-user-select: None;
  -webkit-user-select: None;
}

.box .entry {
  background-color: var(--background-brighter2);
  padding: 10px 15px;
  margin-top: 3%;
  border-radius: 8px;
}

/* Button that looks like a link */

.linkButton {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: "Montserrat", sans-serif;
  color: var(--link);
  cursor: pointer;
  font-size: 1rem;
  margin: 0;
}
.linkButton:hover {
  color: var(--link-hover);
}

/* some util, tailwind like */

.relative {
  position: relative;
}

.center {
  text-align: center;
}

.round {
  border-radius: 100px;
}

.link-no-color {
  color: var(--font);
}

.link-no-color:hover {
  color: var(--font-hover);
}

/* snippets */

.absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error {
  color: var(--red);
}
